<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>CruyffSans-Light.otf</string>
		<string>CruyffSans-Regular.otf</string>
		<string>CruyffSans-Medium.otf</string>
		<string>CruyffSans-Bold.otf</string>
	</array>
</dict>
</plist>
